/* Empty. Add your own CSS if you like */

.wrapper{
	text-align: center;
}

.headline{
	font-family: calibri;
	font-size: 32px;

	color: grey;
	text-align: center;

	margin-top: 30px;
	line-height: 32px;
}

.subtext{
	width: 240px;
	font-family: calibri;

	background: whitesmoke;
	color: grey;

	padding: 15px 10px;
	margin: 1px auto;
	margin-top: 30px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: 0px 1px 2px lightgrey;
	-moz-box-shadow: 0px 1px 2px lightgrey;
	-webkit-box-shadow: 0px 1px 2px lightgrey;

	text-align: center;
}

.main{
	padding: 30px 0px;
}

.nbutton{
	width: 120px;
	background: royalblue;
	color: whitesmoke;

	padding: 10px;
	margin: 40px auto;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: 0px 1px 4px lightgrey;
	-moz-box-shadow: 0px 1px 4px lightgrey;
	-webkit-box-shadow: 0px 1px 4px lightgrey;

	text-align: center;
	cursor: pointer;
}

.head{
	width: 200px;

	background: white;
	color: lightgrey;

	font-style: italic;
	padding: 5px 0px;
}

.block{
	display: block;
}

.inst{
	width: 260px;
	border: 1px solid whitesmoke;

	background: whitesmoke;
	color: grey;
	font-size: 12px;

	text-align: left;
	padding: 10px 7px 5px 11px;
	margin: 20px auto 30px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: 0px 1px 2px lightgrey;
	-moz-box-shadow: 0px 1px 2px lightgrey;
	-webkit-box-shadow: 0px 1px 2px lightgrey;
}

.sign{
	width: 100px;

	background: whitesmoke;
	color: lightgrey;
	font-size: 14px;
	font-family: arial;

	padding: 3px;
	margin: 20px auto;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: 0px 1px 2px lightgrey;
	-moz-box-shadow: 0px 1px 2px lightgrey;
	-webkit-box-shadow: 0px 1px 2px lightgrey;

}

